@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font-hero: "Pacifico", sans-serif;
  --font-heading: "Playfair+Display", serif;
  --font-heading4: "Roboto Condensed", sans-serif;
  --font-intro: "Roboto Condensed", sans-serif;
  --font-main: "Roboto Condensed", sans-serif;



  /* --color-bg: #D2EAEC;
  --color-bg-light: #edf3f4;
  --color-dark: #000;
  --color-gray: #e2e3e5;
  --color-light: #FFFFFF;
  --color-shape: #c7a2a2;
  --color-error: #f57676;
  --color-bright: #f57676;
  --color-bright-mid: #FB9C92;
  --color-bright-mid-light: #FAD6CD;
  --color-bright-light: #FEF6F6;
  --color-bright-text: #f57676;
  --color-primary: #1c747c;
  --color-secondary: #578f96;
  --color-highlight: #ffcece;
  --color-heading1: #000;
  --color-heading2: #1c747c;
  --color-heading3: #000000;
  --color-heading4: #439097;
  --color-link: #f57676;
  --color-purple: #D2DDEC; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* --- HEADER --- */
h2 {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #1c747c;
  text-transform: uppercase;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  color: #1c747c;
}

  /* LOGO */
  .logo {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }

/* --- HERO --- */

.hero-shapes {
  background-color: black;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 16% 0, 0 95%, 91% 100%, 100% 28%, 100% 100%, 91% 100%, 0 95%);
  z-index: 900;
  transition: 1s;
} 
.hero {
  z-index: 100;
}
@media screen and (min-width: 768px){
  .hero {
    clip-path: polygon(100% 0, 100% 25%, 90% 100%, 0% 100%, 0 100%, 15% 0);
  }
  
}


/* .hero-base {
  position: relative;
}
.hero-bg {
  background-attachment: scroll;
  background-position: right 75%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  z-index: 200;
  max-height: 85vh;
  background-image: url('/images/hero-bg.jpg');
}
.hero-shapes {
  background-color: black;
  position: relative;
  top: 44;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 16% 0, 0 95%, 91% 100%, 100% 28%, 100% 100%, 91% 100%, 0 95%);
  z-index: 900;
  transition: 1s;
} 
.hero-container {
  position: absolute;
  padding-top: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(185, 214, 216, .5) 70%, rgba(185, 214, 216, 0) 100%) !important;
  z-index: 400;
}
.hero-header {
  text-transform: capitalize;
  font-family: var(--font-hero);
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 4px 4px 1px #000;
}
.hero-text {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, .5);
}

*/